.sort-navbar {
    background-color: #141414;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;
}

.filter-by {
    margin-right: 20px;
}

.genres-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px; 
    background-color: white;
}

.genre-item {
    color: #ffffff;
    padding: 2px;
    background-color: transparent;
    border-radius: 2px;
    flex: 1 1 calc(25% - 10px); 

}

.filter-item {
    margin: 10px 0;
    background-color: white;
}

.rating-values {
    display: flex;
    justify-content: space-between;

}

.rating-values span {
    font-size: 1em;
    color:black;
    margin: 0 5px; 
}


.mat-expansion-panel-header{
    background-color: #f5f1f1;
    color: #fefefe;
}

 



